body{
    background-color: lightblue;
}

#logo{
    text-align: center;
    margin: 0;
}

#pic{
    padding-left: 1in;
}

#pic2{
    padding-left: 8in;
}

#pic3, #pic4{
    padding-left: 4in;
}

#pic5{
    padding-left: 3.5in
}

#text{
    text-align: right;
}

#text2, #text3, #text4, #text5{
    text-align: center;
}

h1{
    color: green;
}

h2{ 
    text-align: center;
}

h3{ 
    text-align: center;
}

h4 {
    text-align: center;
    color: red;
}



